<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="hibernatePrac">
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.password">practice</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
  <property name="hibernate.connection.username">practice</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.connection.pool_size">1</property>
  <property name="hibernate.hbm2ddl.auto">create</property>
  <mapping class="org.hibernate.prac.model.UserDetails"/>
  <mapping class="org.hibernate.prac.model.UserAddress"/>
  <mapping class="org.hibernate.prac.model.UserAddressInfo"/>
  <mapping class="org.hibernate.prac.model.mapping.User"/>
  <mapping class="org.hibernate.prac.model.mapping.Vehicle"/>
  <mapping class="org.hibernate.prac.model.mapping.Job"/>
  <mapping class="org.hibernate.prac.model.mapping.Books"/>
  <mapping class="org.hibernate.prac.model.inheritance.single.VehicleInfo"/>
  <mapping class="org.hibernate.prac.model.inheritance.single.TwoWheeler"/>
  <mapping class="org.hibernate.prac.model.inheritance.single.FourWheeler"/>
  <mapping class="org.hibernate.prac.model.inheritance.table.VehicleTableInfo"/>
  <mapping class="org.hibernate.prac.model.inheritance.table.TwoWheelerTableInfo"/>
  <mapping class="org.hibernate.prac.model.inheritance.table.FourWheelerTableInfo"/>
  <mapping class="org.hibernate.prac.model.inheritance.joined.VehicleJoinedInfo"/>
  <mapping class="org.hibernate.prac.model.inheritance.joined.TwoWheelerJoinedInfo"/>
  <mapping class="org.hibernate.prac.model.inheritance.joined.FourWheelerJoinedInfo"/>
 </session-factory>
</hibernate-configuration>
